#!/bin/bash
### BEGIN INIT INFO
# Provides: foo{{ test_services_service_item }}
# Required-Start: $local_fs
# Required-Stop: $local_fs
# Default-Start:  2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Testing service
# Description: Testing service
### END INIT INFO

. /etc/init.d/functions

start() {
        echo -n "Starting foo{{ test_services_service_item }} service... "
        /usr/bin/python2 /usr/bin/foo{{ test_services_service_item }}.py &
        return 0
}

case "$1" in
    start)
        start
        ;;
    status)
        ps ax | grep /usr/bin/foo{{ test_services_service_item }}.py | grep -q -v grep

        if [ -$? -eq 0 ]; then
            echo "foo{{ test_services_service_item }} is running"
        else
            echo "foo{{ test_services_service_item }} is stopped"
        fi
        exit 0
        ;;
    *)
        echo "Usage: foo{{ test_services_service_item }} {start|stop}"
 exit 1
        ;;
esac
exit $?
